h1{
  font-family: 'Courier New', Courier, monospace;
}
p{
  font-size: 13px;
  font-family:Arial, Helvetica, sans-serif;
  color: gray;
  letter-spacing: 1.5px;
}
.container{
  padding: 3%;
  background-color: whitesmoke;
}
.sub-container{
  display: flex;
padding: 20px 0;
}
.btn-group{
  margin: 0 40px;
}
button{
  padding: 10px 12px;
  border: 0;
  border-radius: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  box-shadow: 0px 5px 20px rgb(199, 199, 199);

}
.disable,.disable-hover{
background-color: #E0E0E0;
}
.disable-hover:hover{
  background-color: rgb(176, 176, 176);
  cursor: pointer;
}
.outline,.outline-hover{
  color: blue;
  border: .5px solid;
  
}
.outline-hover:hover{
  background-color: #d1dcfe;
}
.text,.text-hover{
  background-color: whitesmoke;
box-shadow: unset;
color: blue;
}

.text-hover:hover{
  cursor: pointer;
  background-color: #d1dcfe;
}
.disableShadow{
  color: white;
  background-color: blue;
  box-shadow: unset;
}
.disabled,.disabled-text{
  box-shadow: unset;
  color: rgba(128, 128, 128, 0.865);
}
.disabled-text{
  background-color: whitesmoke;
}
.store{
  color: white;
  background-color: blue;
}
.size{
  color: white;
  background-color: blue;
}
.sm{
  padding: 7px;
}
.lg{
padding: 15px 20px;
}
.secondary{
  background-color: #455A64;
  color: white;
}
.danger{
  color: white;
  background-color: #D32E2F;
}
.default-hover:hover{
  background-color: #a4aeb2;
  cursor: pointer;
}
.danger-hover:hover{
  background-color: #fa0707;
  cursor: pointer;
}
.primary-hover:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.797);
}
.secondary-hover:hover{
  cursor: pointer;
background-color: rgba(52, 67, 74, 0.787);
}